<h1>注文管理</h1>
<div class="container bg-light pt-3">
  <h4>注文ステータス</h4>
  <%= form_with model: @order, url: admins_manage_order_path , method: :put do |f| %>

    <%= f.select :order_status, @order.status_options, {}, class: "form-select w-auto d-inline" %>
    <%= f.submit '更新', class: "btn btn-success ms-3" %>
  <% end %>
  <hr>
  <h4>注文者情報</h4>
  <p><%= @order.user.name %></p>
  <p>〒<%= @order.zip %></p>
  <p><%= @order.address %></p>
  <h4>連絡先</h4>
  <p><%= @order.tel %></p>
  <hr>
  <h4>請求額</h4>
  <p>¥ <%= number_with_delimiter @order.bill %></p>
  <hr>
  <h4>注文商品</h4>
  <% @order_items.each do |item| %>
    <p>注文時商品名: <%= item.product_name %></p>
    <p>注文時単価: ¥ <%= number_with_delimiter item.ordered_price %></p>
    <p>注文個数: <%= item.quantity %></p>
    <p>注文小計: ¥ <%= number_with_delimiter item.calculate_total %></p>
    <hr>
  <% end %>

</div>




