<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <% @cart_items.each do |cart_item| %>
        <div class="row">
          <div class="col-3">
            <%= image_tag item.image %>
          </div>

          <div class="col-3">
            <div class="d-flex flex-column">
              <%= link_to product_path(cart_item.product) do %>
                <h4><%= cart_item.product.name %></h4>
              <% end %>
              <div>¥<%= cart_item.price %></div>
              <%= form_with model: cart_item,url: update_cart_item_quantity_path, method: :put, local: true do |f| %>
                <%= f.hidden_field :product_id, value: cart_item.product.id %>
                <span>個数:</span> <%= f.select :quantity,[*1..10], {},{class: "form-select w-25 d-inline"} %>
                <%= f.submit '個数の変更' %>
              <% end %>
            </div>
          </div>

          <div class="col-6">

          </div>

        </div>
      <% end %>

    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<!--------------------------------------------------------------->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>注文設定</h1>
      <hr>

    </div>
  </div>
</div>

<!--------------------------------------------------------------->