<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Rails-demo2</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to '管理画面', admins_root_path, class: "nav-link active" %></li>
          <% if user_signed_in? %>

            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                会員メニュー
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to '注文履歴', histories_path, class: "dropdown-item" %>
                <%= link_to 'ログアウト', destroy_user_session_path, class: "dropdown-item", method: :delete %>
              </div>
            </div>

          <% else %>
            <li class="nav-item mx-2">
              <%= link_to 'ログイン', new_user_session_path, class: "nav-link active" %>
            </li>
          <% end %>


          <li class="nav-item mx-2">
            <%= link_to 'カート', cart_path, class: "nav-link active" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
