<%
  if user_signed_in?
    @auth_state = "ログインしています"
  else
    @auth_state = "ログインしていません"
  end


%>
<div style="background-color: #f2f2f2; padding-top: 30px">
  <%= link_to '管理画面へ', admins_root_path %>
  <br>
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <p>ログイン状態: <%= @auth_state %></p>
  <%= link_to '商品一覧へ', products_path %>

  <% if current_user %>
    <%= link_to 'カート', cart_path %>
    <%= link_to '注文履歴', histories_path %>
  <% end %>
</div>
