<!DOCTYPE html>
<html>
<head>
  <title>RailsEc2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background-color: #D5EEF2 ">
<%= render partial: 'layouts/ad_header' %>
<%= yield %>
</body>
</html>
