<!DOCTYPE html>
<html>
  <head>
    <title>Rails-demo2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <% if flash.notice %>
      <div class="alert alert-success text-center"><%= notice %></div>
    <% elsif flash.alert %>
      <div class="alert alert-danger text-center"><%= alert %></div>
    <% end %>

    <main class="my-5">
      <%= yield %>
    </main>

  </body>
</html>
